:root {
  font-size: 10px;
}

body {
  margin: 0px;

  font-family: Inter,Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.3rem;
}

.tw-nav {
  z-index: 1000;
  background-color: white;
  grid-area: nav;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav-left nav-right";

  box-shadow: var(--shadow-elevation-1);
}

.tw-nav-left {
  display: block;
  grid-area: nav-left;
}

.tw-nav-center {
  grid-area: nav-center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tw-search {
  display: none;
}

@media(min-width: 786px) {
  .tw-nav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "nav-left nav-center nav-right";
  }

  .tw-search {
    display: flex;

    margin: 2px 20px;
    padding: 5px;
    height: 36px;
    width: 100%;
    max-width: 390px;
  }

  .tw-search-input {
    flex: 1;

    background-color: var(--color-background-input);
    appearance: none;
    outline: none;
    border: var(--border-width-input) solid #00000000;
    border-bottom-left-radius: var(--border-radius-large);
    border-top-left-radius: var(--border-radius-large);
    padding: 5px 10px;
    font-size: var(--font-size-5);
    line-height: 1.5;

    transition: box-shadow .1s ease-in, border .1s ease-in, background-color .1s ease-in
  }

  .tw-search-input:hover {
    border: var(--border-width-input) solid var(--color-background-input);
    background-color: var(--color-background-input);
  }

  .tw-search-input:focus {
    border: var(--border-width-input) solid var(--color-border-input-focus);
    background-color: var(--color-background-input-focus);
  }

  #tw-search-button {
    padding: 0px 5px;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: var(--color-background-button-secondary);
    color: var(--color-text-button-secondary);
  }

  #tw-search-button:hover {
    background-color: var(--color-background-button-secondary-hover);
  }

  #tw-nav-search {
    display: none;
  }
}

.tw-nav-right {
  grid-area: nav-right;
  display: flex;
  height: 50px;
  align-items: center;

  margin-left: auto;
}

.tw-nav-button {
  margin: auto 5px;
}

#tw-get-bits > p {
  display: none;
  margin: auto;
  font-weight: 600;
  padding-left: 5px;
}

@media(min-width: 1200px) {
  #tw-get-bits {
    padding: 5px 10px 5px 8px;
    background-color: var(--color-background-button-secondary-default);
  }

  #tw-get-bits:hover {
    background-color: var(--color-background-button-secondary-hover);
  }

  #tw-get-bits > p {
    display: inline;
  }
}

#tw-nav-profile {
  margin: auto 10px auto 5px;
  border-radius: var(--border-radius-rounded);

  cursor: pointer;
}

#tw-nav-online {
  position: absolute;
  width:  6px;
  height: 6px;
  top: 31px;
  right: 9px;

  border-radius: var(--border-radius-rounded);
  border: 2px solid white;

}

.tw-side {
  grid-area: side;
  height: 100%;

  background-color: var(--color-hinted-grey-14);
}

.tw-channel {
  grid-area: channel
}

.tw-chat {
  grid-area: chat;

  background-color: white;
  height: 100%;

  border-left: var(--border-width-default) solid var(--color-border-base);

  display: grid;
  grid-template-rows: 50px 70px auto 93px;
}

.tw-chat-header {
  border-bottom: var(--border-width-default) solid var(--color-border-base);

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: space-between;
}

.tw-chat-header > h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-6);
  margin: auto auto;
}

button {  
  all: unset;

  display: flex;
  align-items: center;

  cursor: pointer;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
  border-radius: var(--border-radius-medium);
}

button:hover {
  background-color: var(--color-background-button-text-hover);
}

.tw-chat-gifts {
  border-bottom: var(--border-width-default) solid var(--color-border-base);
}

.tw-chat-input {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.tw-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  overflow: hidden;

  display: grid;

  grid-template-rows: 5rem auto;
  grid-template-columns: 24rem auto 34rem;
  grid-template-areas: 
    "nav nav nav"
    "side channel chat";
}

body {
  background-color: var(--color-background-body);
}

::selection {
  background-color: var(--color-background-accent);
  color: var(--color-text-overlay);
}
